<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo Mercado Liebre" class="logo"></a>
            <div class="busqueda-bar">
                <input type="text">
                <a href="#"><i class="fas fa-search alineacion"></i></a>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <div class="burguer-button">
            <i class="fas fa-bars ajuste"></i>
        </div>
        <nav class="main-navbar">
            <!-- <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p> -->
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li class="alineacion"><a href="/registro">Creá tu cuenta <i class="fas fa-user"></i></a></li> 
                    <li class="alineacion"><a href="#">Ingresá <i class="fas fa-sign-in-alt alineacion"></i></a></li> 
                    <li class="alineacion"><a href="#">Mis compras <i class="fas fa-shopping-basket alineacion"></i></a>
                </ul>
        </nav>        
    </header>
     
       
    <main>
    

    <div>
    

    </div>
    </main>
    <footer>



    </footer>
</body>
</html>